#He1{
    text-align: center;
    font-size: 100px;
}
#blr{
    text-indent: 75px;
    text-align: justify;
    font-weight: bold;
}
#cd{
    text-indent: 75px;
    text-align: justify;
}
#ct{
    text-indent: 75px;
    text-align: justify;
    font-weight: bold;
}
#hoa{
    text-indent: 75px;
    text-align: justify;
}
#I1{
   text-align: center;
}
#ml
{
    font-weight: bold;
    height: 20px;
    width: 150px;
    margin-left: 78px;
}
#btt{
    float: right;
}